<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Bienvenides a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/16d126ad0c.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="contenedor-encabezado">
            <div class="contenedor-logo-buscador">
                <img class="encabezado-logo" src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">

                <nav class="encabezado-buscador">
                    <form class="form-buscador">
                        <input class="buscador" type="text" placeholder="Buscar productos, marcas">
                        <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </nav>
            </div>


            <h4 class="encabezado-pago-cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h4>
        </div>
        <br>
        <a href="#" class="burger-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="contenedor-formato-menu">

            <ul class="formato-menu-izquierda" type="disc">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>

            <ul class="formato-menu-derecha" type="disc">
                <li><a href="/register">Crea tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="/mis-compras">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </header>


    <section>
        <img class="banner" src="images/img-home-banner.jpg" width=100% alt="Banner de ofertas">
    </section>
    <main>
        <h3 class=" titulares">Basado en tu última visita</h3>

        <section class="contentedor-ultima-visita-ofertas">
            <section class="contenedor-articulo">
                <img class="imagen-articulos" src="/images/img-cafetera-moulinex.jpg"
                    alt=" imágen de cafetera moulinex">
                <div class="contenedor-descripciones">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </section>
            <section class="contenedor-articulo">
                <img class="imagen-articulos" src="/images/img-macbook-pro-2019.jpg" alt=" imágen de macbook pro 2019">
                <div class="contenedor-descripciones">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </section>
            <section class="contenedor-articulo">
                <img class="imagen-articulos" src="/images/img-samsung-galaxy-s10.jpg"
                    alt=" imágen de samsung galaxy s10">
                <div class="contenedor-descripciones">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </section>
            <section class="contenedor-articulo">
                <img class="imagen-articulos" src="/images/img-tv-samsung-smart.jpg" alt=" imagen de tv samsung smart">
                <div class="contenedor-descripciones">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </section>
        </section>

        <h3 class=" titulares">Ofertas</h3>
        <section class="contentedor-ultima-visita-ofertas">
            <section class="contenedor-articulo">
                <img class="imagen-articulos" src="/images/img-cafetera-moulinex.jpg"
                    alt=" imágen de cafetera moulinex">
                <div class="contenedor-descripciones">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </section>
            <section class="contenedor-articulo">
                <img class="imagen-articulos" src="/images/img-macbook-pro-2019.jpg" alt=" imágen de macbook pro 2019">
                <div class="contenedor-descripciones">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </section>
            <section class="contenedor-articulo">
                <img class="imagen-articulos" src="/images/img-samsung-galaxy-s10.jpg"
                    alt=" imágen de samsung galaxy s10">
                <div class="contenedor-descripciones">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </section>
            <section class="contenedor-articulo">
                <img class="imagen-articulos" src="/images/img-tv-samsung-smart.jpg" alt=" imagen de tv samsung smart">
                <div class="contenedor-descripciones">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$230.200</p>
                    <p class="descuentos">5% off</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </section>
        </section>
    </main>

    <footer>
        <div class="alineacion-footer">
            <div class="columna-footer">
                <i class="fa-solid fa-credit-card imagen-footer"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="columna-footer">
                <i class="fa-solid fa-gift imagen-footer"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio
                    de MercadoPuntos.</p>
            </div>
            <div class="columna-footer">
                <i class="fa-solid fa-user-shield imagen-footer"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>

            </div>
        </div>

        <div class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>

    </footer>
</body>

</html>