<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Bienvenides a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/16d126ad0c.js" crossorigin="anonymous"></script>
    <link href="css/login-styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="contenedor-encabezado">
            <div class="contenedor-logo-buscador">
                <img class="encabezado-logo" src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">

                <nav class="encabezado-buscador">
                    <form class="form-buscador">
                        <input class="buscador" type="text" placeholder="Buscar productos, marcas">
                        <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </nav>
            </div>


            <h4 class="encabezado-pago-cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h4>
        </div>
        <br>

        <nav class="contenedor-formato-menu">

            <ul class="formato-menu-izquierda" type="disc">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>

            <ul class="formato-menu-derecha" type="disc">
                <li><a href="/register">Crea tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/ingresa">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="/mis-compras">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </header>

    <br>
    <br>
    <br>

    <main>

        <div class="contenedor-registro-usuario">
            <form action="register.html" method="POST">
                <div class="contenedores-dato-ingreso">
                    <label for="usuario" style="display:none;">Nombre de usuari@:</label>
                    <input class="contenedor-input-datos" type="text" name="usuario" required
                        placeholder="Nombre de usuari@">
                </div>
                <br>
                <div class="contenedores-dato-ingreso">
                    <label for="password" style="display:none;">Contraseña:</label>
                    <input class="contenedor-input-datos" type="password" name="password" required
                        placeholder="Ingrese su contraseña">
                </div>
                <br>
                <div class="contenedores-dato-ingreso">
                    <a class="button-ref" href="/">
                        <button class="button" type="button">Enviar</button>
                    </a>
                </div>
            </form>
        </div>
    </main>
    <br><br>

    <footer>
        <div class="alineacion-footer">
            <div class="columna-footer">
                <i class="fa-solid fa-credit-card imagen-footer"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="columna-footer">
                <i class="fa-solid fa-gift imagen-footer"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio
                    de MercadoPuntos.</p>
            </div>
            <div class="columna-footer">
                <i class="fa-solid fa-user-shield imagen-footer"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>

            </div>
        </div>

        <div class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>

    </footer>
</body>

</html>