* {
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
}

.encabezado-logo {
    padding: 10px 15px;
    max-width: 200px;
}

.encabezado-buscador {
    font-size: 12px;
    text-align: right;

}

.encabezado-pago-cuotas {
    text-align: center;
    color: #222222;
    font-weight: 200;
}

header {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.burger-button {
    background-color: #0d21a1;
    color: #ffffff;
    display: block;
    margin: auto;
    max-width: 45px;
    padding: 8px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;

}

.lupa {
    padding: 0;
}

.fa-hand-holding-dollar {
    padding: 0;
}

.contenedor-formato-menu {
    display: none;

}

.contenedor-formato-menu ul {
    list-style: none;
    padding: 0;
}

.formato-menu-izquierda li a {
    text-decoration: none;
    margin: 0;
    list-style: none;
    display: inline-block;
    color: #222222;
}

.formato-menu-derecha li a {
    text-decoration: none;
    margin: 0;
    list-style: none;
    display: inline-block;
    color: #222222;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
    margin: 0px;

}

main {
    width: 90%;
    background-color: #ebebeb;
    margin: auto;
}

.banner {
    background-size: contain;
}

.images-home {
    background-size: cover;
    background-color: #EAC926;
}



.contenedor-registro-usuario {
    border: 2px solid #02204f;
    width: 80%;
    margin: auto;
    border-radius: 12px;
    padding: 20px;

}

.titulo-registro {
    text-align: center;
    color: #02204f
}

.contenedor-datos {
    border: none;
    border-radius: 3px;
    background-color: #ebebeb;
    border: 2px solid #666;
    width: 90%;

}

.contenedor-registro {
    padding: 20px;
    margin: auto;
}

.titulos {
    font-style: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 5px;
}

.button {
    padding: 5px;
    border-radius: 8px;
    justify-content: center;
    margin: 5px;
    color: white;
    background-color: #666;
}



.alineacion-footer {
    text-align: center;
    color: #666;
    background-color: white;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columna-footer {
    width: 33%;
    padding: 5px;
}

.imagen-footer {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    transition: color, 200ms;
}

.copyright {
    display: flex;
    align-items: left;
    color: #666;
    background-color: white;
    padding: 5px;
}

/*----------------------------------------------------------------------------------*/

@media (min-width: 361px) {
    .descripciones {
        display: none;
    }

    .contenedor-formato-menu {
        display: none;
    }

    .contenedor-logo-buscador {
        display: flex;
        align-items: center;

    }

    .contenedor-datos {
        width: 100%;

    }

    .contenedor-registro {
        padding: 5px;
    }
}

/*----------------------------------------------------------------------------------*/
@media (min-width: 481px) {
    .contenedor-articulo {
        width: 20%;
        margin: 2%;
    }

    .contenedor-descripciones {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .precios {
        width: 50%;
    }

    .descuentos {
        width: 50%;
        text-align: right;
    }

    .descripciones {
        display: block;
    }

    .contenedor-logo-buscador {
        display: flex;
        width: 70%;
    }

    .contenedor-encabezado {
        display: flex;
    }

    .encabezado-logo {
        max-width: 600px;
        width: 45%;
    }

    .encabezado-buscador {
        display: flex;
        align-items: center;
        justify-content: center;

        /*flex-end*/
    }

    .buscador {
        font-size: 9px;
    }

    .lupa {
        font-size: 9px;
    }

    .encabezado-pago-cuotas {
        font-size: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedor-formato-menu {
        display: flex;
        justify-content: space-between;
    }

    .contenedor-formato-menu ul {
        display: flex;
        font-size: 10px;
    }

    .contenedor-formato-menu li {
        margin: 0 4px;
    }

    .burger-button {
        display: none
    }

    .contenedor-articulo {
        width: 40%;
        margin: 2%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .contenedor-datos {
        width: 100%;

    }

    .contenedor-registro {
        padding: 5px;
    }

    .contenedor-registro-usuario {
        width: 60%;

    }

}

/*----------------------------------------------------------------------------------*/
@media (min-width: 769px) {
    .contenedor-articulo {
        width: 20%;
        margin: 2%;
    }

    .contenedor-descripciones {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .precios {
        width: 50%;
    }

    .descuentos {
        width: 50%;
    }

    .descripciones {
        display: block;
    }

    .contenedor-logo-buscador {
        display: flex;
        width: 70%;
    }

    .contenedor-encabezado {
        display: flex;
        font-size: 12px;
    }


    .encabezado-logo {
        max-width: 600px;
        width: 55%;
    }

    .encabezado-buscador {
        display: flex;
        align-items: center;
        justify-content: center;
        /*flex-end*/
    }

    .buscador {
        font-size: 12px;
    }

    .lupa {
        font-size: 12px;
    }

    .encabezado-pago-cuotas {
        width: 40%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedor-formato-menu {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }

    .contenedor-formato-menu ul {
        display: flex;
        font-size: 12px;
    }

    .contenedor-formato-menu li {
        margin: 0 10px;
    }

    .burger-button {
        display: none
    }

    .imagen-footer:hover {
        color: #EAC926;

    }

    .contenedor-registro-usuario {
        width: 50%;

    }



}